<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text Analizer</title>
  <link rel="stylesheet" href="./static/styles.css" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

</head>
<body>
  <div class="container-analizer">
      <h1 class="text-blue-400">Text Analizer</h1>
      <textarea class="w-full h-36 mb-1" id="inputText" placeholder="Introduce texto"></textarea>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="analyzeButton">Analizar</button>
      <pre id="outputText" class="w-full h-36"></pre>
  </div>
  <div class="container-stadistic">
    <h2 class="h2-stadistics">Estadísticas</h2>
    <div class="stadistics">
      <div class="stadistic-card">
        <h3 class="h3-stadistic">Palabras</h3>
        <p id="words" class="p-stadistic">0</p>
      </div>
      <div class="stadistic-card">
        <h3 class="h3-stadistic">Palabras con tilde</h3>
        <p id="words-tilde" class="p-stadistic">0</p>
      </div>
      <div class="stadistic-card">
        <h3 class="h3-stadistic">Caracteres</h3>
        <p id="characters" class="p-stadistic">0</p>
      </div>
      <div class="stadistic-card">
        <h3 class="h3-stadistic">Vocales</h3>
        <p id="vowels" class="p-stadistic">0</p>
      </div>
      <div class="stadistic-card">
        <h3 class="h3-stadistic">Consonantes</h3>
        <p id="consonants" class="p-stadistic">0</p>
      </div>
      <div class="stadistic-card">
        <h3 class="h3-stadistic">Puntuaciones</h3>
        <p id="puntuations" class="p-stadistic">0</p>
      </div>
    </div>
  </div>
  <script src="./static/script.js"></script>
</body>
</html>